/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 16px;
}

/* General Styles */
body {
  font-family: 'Comic Sans MS', cursive;
  background-color: #F5F9FF;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formulario {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

.titulo{
  text-align: center;
  font-size: 24px;
  color: #072c7c;
  margin-bottom: 20px;
  text-align: center;
}

input {
  padding: 10px;
  border: 2px solid #CCE0FF;
  border-radius: 6px;
}

button {
  background-color: #4F88FF;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #3B70E0;
}

.button-regresar {
  background-color: #e93232;
  color: rgba(255, 255, 255, 0.938);
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.button-regresar:hover {
  background-color: #ec1b1b;
}

/* Toast Notification Styles */
.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s ease-in-out;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.toast, .toast-error {
  visibility: hidden;
  min-width: 250px;
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s ease-in-out;
}

.toast {
  background-color: #4CAF50;
}

.toast-error {
  background-color: #f44336;
}

.toast.show, .toast-error.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
